.container-header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #ef7500;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    margin: 0 10% 0 10%;
    border-radius: 0.5rem;
}

.container-header button {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #ef7500;
}

.container-header img {
    margin-right: 0.5rem;
    width: 3rem;
    height: 100%;
}

.text {
    color: white;
    justify-self: center;
}

.black-text{
    color: black;
}

.szh-menu__item:hover{
    background-color: #ef7500;
}

@media only screen and (max-width: 700px) {
    .container-header {
        margin: 0;
        border-radius: 0;
    }
  }
