.container-header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #c96806;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.container-header button {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #c96806;
}

.container-header img {
    margin-right: 0.5rem;
    width: 3rem;
    height: 100%;
}

.text {
    color: white;
    justify-self: center;
}
