.matrix_table {
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

.matrix_table th {
    font-weight: normal;
}

.matrix_table img {
    width: 100%;
    height: 100%;
}

.grey_square {
    background-color: rgb(218, 216, 216);
    text-align: center;
    height: 8rem;
    width: 8rem;
}

.navlink-class {
    text-decoration: none;
}

.navlink-class:visited {
    color: blue;
}

@media only screen and (max-width: 700px) {
    .matrix_table img {
        width: 90%;
        height: 90%;
    }
    .grey_square {
        height: 6rem;
        width: 6rem;
    }
  }
