* {
    font-size: 1rem !important;
}

.display_table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

.display_table thead tr {
    background-color: #d68a37;
    color: white;
}

.display_table th, td {
    padding: 0.75rem;
}

.display_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.display_ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.display_ul_with_dots {
    margin: 0;
    padding: 0;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

.font-awesome-button {
    cursor: pointer;
}

.label{
    padding-bottom: 0.25rem;
    font-size: 0.75rem !important;
}


.colored-label{
    background-color: #d68a37;
}

.show-more-button{
    border: none;
    background-color: transparent;
    color: blue;
    cursor: pointer;
    padding-left: 1rem;
}

.padded-text {
    padding-left: 1rem;
}

.flexed-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .display_table {
        width: 100%;
    }
  }